language: php

dist: bionic
sudo: false

git:
    depth: 1

php:
    - 7.1

env:
    - ZABBIX_VERSION=2.2.23

jobs:
    fast_finish: true

cache:
    directories:
        - $HOME/.composer

before_install:
    - |
      # General configuration
      stty cols 120
      mkdir -p /opt/zabbix
      wget -qO- "https://github.com/zabbix/zabbix/archive/${ZABBIX_VERSION}.tar.gz" | tar xvz -C /opt/zabbix
      ln -s /opt/zabbix/zabbix-$ZABBIX_VERSION/frontends/php/ /opt/zabbix/frontend
      php -S 0.0.0.0:8080 -t /opt/zabbix/frontend &
      echo "$!" > /opt/zabbix/frontend.pid
      wget -qO- "http://localhost/"

install:
    - php ./build/build.php
    - composer install --prefer-dist --optimize-autoloader --classmap-authoritative --no-interaction --no-scripts

script:
    - ./vendor/bin/phpunit
