language: php

dist: bionic
sudo: true

git:
    depth: 1

php:
    - 7.1

env:
    - ZABBIX_VERSION=2.2.23

jobs:
    fast_finish: true

cache:
    directories:
        - $HOME/.composer

before_install:
    - |
      # General configuration
      stty cols 120
      mkdir -p /opt/zabbix
      wget -qO- wget -qO- https://repo.zabbix.com/zabbix/${ZABBIX_VERSION%.*}/ubuntu/pool/main/z/zabbix/zabbix_${ZABBIX_VERSION}.orig.tar.gz | tar xvzf - -C /opt/zabbix zabbix-${ZABBIX_VERSION}/frontends/php
      ln -s /opt/zabbix/zabbix-$ZABBIX_VERSION/frontends/php/ /opt/zabbix/frontend
    - |
      # Configurar servidor php-fpm
      sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
      echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
      sudo sed -i -e "s,www-data,travis,g" /etc/apache2/envvars
      sudo chown -R travis:travis /var/lib/apache2/fastcgi
      ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
    - |
      # Configurar servidor Apache
      sudo apt-get update
      sudo apt-get install apache2
      ls -ltr /etc/apache2/mods-enabled
      sudo a2enmod rewrite actions proxy proxy_fcgi fastcgi alias
      ls -ltr /etc/apache2/mods-enabled
      sudo sed -ri 's#(</VirtualHost>)#\tProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000/opt/zabbix/frontend/$1\n\1#' /etc/apache2/sites-available/000-default.conf
      cat /etc/apache2/sites-available/000-default.conf
      sudo systemctl restart apache2
      wget -qO- "http://localhost/"
      echo "OK"

install:
    - php ./build/build.php
    - composer install --prefer-dist --optimize-autoloader --classmap-authoritative --no-interaction --no-scripts

script:
    - ./vendor/bin/phpunit
